@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.7;
    color: #000;
    background-color: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #1d4ed8;
    text-decoration: underline;
}

a:hover {
    color: #1e3a8a;
}

a:visited {
    color: #7c3aed;
}

ul {
    list-style-position: outside;
}

::selection {
    background-color: #dbeafe;
}
